body {
    background-color: rgb(193, 209, 224);
  }
h1{
   color: rgb(191, 250, 189); 
   text-align: center;
  }
.first_left{
    color: rgb(239, 229, 203); 
    padding: 0.5em 1em;
    margin: 10px 500px 20px 0;;
    font-weight: bold;
    border: solid 3px #000000;
}
.first_left h2,h4{
    line-height: 0.5;
}
.second_right{
  text-align: right;
  padding: 0.5em 1em;
  margin: 10px 0px 20px 500px;
  font-weight: bold;
  border: solid 3px #000000;
}
iframe{
  margin-left: 300px;
}