body {
    background-color: rgb(193, 209, 224);
  }
h1{
   color: rgb(92, 241, 87); 
   text-align: center;
   font-size:6em;
   line-height:0.95em;
   font-weight:bold;
   text-shadow: 0 0 0.2em rgba(0,0,0,1);
  }

.chirashi{
  width:100%;
  height:900px;
}
.form{
  width:100%;
  height:700px;
}

/* ここからスマホ用 */
@media screen and (max-width:390px) {
  body{
    display: grid;
    place-content: center;
    gap: 1ch;
    margin: 0;
  }
  h1{
    font-size:3em;
   }
   .first_left{
    width: 100%;
    margin-left: 280px;
    color: rgb(239, 229, 203); 
    padding: 0;
    font-weight: bold;
    border: none;
    background-image:url(study.jpg) ; 
    background-position: center; 
    background-size: 30%;
    background-repeat:  no-repeat; 
}